@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

:root {
	--color-background-dark: #333333;
	--color-background-medium: #454545;
	--color-text-light: #f6f6f6;
	--color-text-medium: #8c8590;
	--color-action-first: #df3eea;
	--color-action-second: #00f67b;
	--color-badge-1: #5fa7b9;
	--color-badge-2: #e7da6d;
	--color-badge-3: #e67342;
	--transition: 0.8s;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {
	min-height: 100vh;
	color: var(--color-text-light);
	background: rgb(5, 5, 5);
	background: linear-gradient(
		0deg,
		rgba(5, 5, 5, 1) 0%,
		rgba(27, 27, 27, 0.8995973389355743) 68%,
		rgba(59, 58, 58, 1) 100%
	);
	transition: color 0.5s, background-color 0.5s;
	line-height: 1.6;
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
